<div class="col-lg-2"></div>
<div class="col-lg-8">
	<div class="wrapper" (click)="showBen()">
		<div class="card radius shadowDepth1">
			<div class="card__image border-tlr-radius">
				<!--  http://lorempixel.com/400/200/sports/ -->
				<img src="../../../assets/callcenter.jpg" width="300" height="316"
					alt="image" class="border-tlr-radius">
			</div>

			<div class="card__content card__padding">

				<article class="card__article">
					<h1>
						<a href="#">JAGGAER Virtual Assistant</a>
					</h1>

				</article>
			</div>

		</div>

	</div>


	<div class="wrapper" (click)="showIot()">

		<div class="card radius shadowDepth1">
			<div class="card__image border-tlr-radius">
				<img src="../../../assets/iot-2.jpg" width="300" height="316"
					alt="image" class="border-tlr-radius">
			</div>

			<div class="card__content card__padding">

				<article class="card__article">
					<h1>
						<a href="#">JAGGAER Internet of Things (IoT)</a>
					</h1>
<!-- 					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. -->
<!-- 						Ducimus harum...</p> -->
				</article>
			</div>

		</div>
	</div>

	<app-ben #ben></app-ben>
	<app-iot #iot></app-iot>


</div>